body {
    /* all fonts for all tags changed
        because of inheritance */
    font-size: 22px;
}

h1, h2 {
    color: blue;
}

p {
    color: red;
}

p {
    color: purple;
}

article p span {
    text-transform: uppercase;
    text-decoration: underline;
    background-color: gold;
}

button {
    font: inherit;
}

/* class style */
.grey {
    color: grey;
}

/* id selector.  specific to a single tag!! */
#second {
    font-style: italic;
}

