@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&family=Smooch+Sans:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Playwrite IN", serif;
    min-height: 100vh;
}

h1 {
    border: 2px dashed red;
    width: 50%;
    font-size: 3em;
    padding: 0.5em;
}

main {
    font-size: 2rem;
}

p {
    font-size: 2rem;
    width: 40ch;
    text-transform: lowercase;
    text-align: left;
    /* font-style: oblique; */
    /* line-height: 1.5;
    letter-spacing: 0.2rem;
    word-spacing: .5rem; */
}

input, button {
    font: inherit;
}